body{
    background-color: #AFCCF6;
    margin: 0;
}

.Add_Buttons {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
}
  
#Title{
    display: flex;
    justify-content: center;
}

#Recipe_Grid{
    display:flex;
    justify-content: center;
}