body{
    background-color: #AFCCF6;
}

.Add_Buttons {
    display: flex;
    justify-content: flex-end; /* Align content to the right */
}
  
#Title{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}