.Title{
    position: relative;
    text-align: center;
    width: 50%;
    min-width: 20rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 40px;
    border-style: solid;
    z-index: 1;
}
